<div class="phiig-body">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 property">
                <h2>SET UP LLC</h2>
            </div>
        </div>

        <div class="row gray-bg">
            <div class="col-md-12">
                <form class="m-form m-form--fit m-form--label-align-right">
                    <div style="padding-left: 140px">
                        <div class="m--space-30"></div>
                        <div class="m-form__group form-group  row">
                            <label class="col-2 col-form-label">Name Of LLC</label>
                            <div class="col-6">
                                <input type="text" class="form-control m-input" placeholder="">
                            </div>
                        </div>
                        <div class="m-form__group form-group  row">
                            <label class="col-2 col-form-label">Management Fee</label>
                            <div class="col-6">
                                <input type="text" class="form-control m-input" placeholder="">
                            </div>
                            <span style="line-height: 36px">%</span>
                        </div>
                        <div class="m-form__group form-group  row">
                            <label class="col-2 col-form-label">State Of LLC</label>
                            <div class="col-6">
                                <input type="text" class="form-control m-input" placeholder="">
                            </div>
                        </div>
                        <div class="m-form__group form-group  row">
                            <label class="col-2 col-form-label">Minimum Investment</label>
                            <div class="col-6">
                                <input type="text" class="form-control m-input" placeholder="">
                            </div>
                            <span style="line-height: 36px">If any</span>
                        </div>
                        <div class="m-form__group form-group  row">
                            <label class="col-2 col-form-label">Interest Rate</label>
                            <div class="col-6">
                                <input type="text" class="form-control m-input" placeholder="">
                            </div>
                        </div>
                        <div class="m-form__group form-group  row">
                            <label class="col-2 col-form-label">Tenure</label>
                            <div class="col-6">
                                <input type="text" class="form-control m-input" placeholder="Months / Year">
                            </div>
                        </div>
                        <div class="m-form__group form-group  row">
                            <label class="col-2 col-form-label">Calculate Interest Rate</label>
                            <div class="col-6">
                                <input type="text" class="form-control m-input" placeholder="">
                            </div>
                        </div>
                        <div class="m-form__group form-group  row">
                            <label class="col-2 col-form-label">Signature Here</label>
                            <div class="col-6">
                                <textarea type="text" class="form-control m-input" placeholder=""></textarea>
                                <span class="m-form__help">
										   Click here to Upload Operating Agreement and Sign it Electronically
										</span>
                            </div>
                            <button type="button" class="btn btn-secondary" style="height: 36px">Upload File</button>
                        </div>
                    </div>
                    <div class="m--space-20"></div>
                    <div class="justify-content-center row">
                        <div class="m-form__actions">
                            <button type="reset" class="btn btn-danger">Submit</button>
                            <button type="reset" class="btn btn-secondary">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>