<div class="phiig-body">
    <div class="row text-center">
        <div class="col-md-12 property">
            <h2>DEAL ADMIN ASSIGNMENT</h2>
        </div>
    </div>
    <div class="container" style="padding-top: 10px">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tabs gray-bg">
            <div class="m-portlet__head">
                <div class="m-portlet__head-tools">
                    <ul class="nav nav-tabs m-tabs-line m-tabs-line--primary m-tabs-line--2x" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link " data-toggle="tab" href="#m_tabs_6_1" role="tab">
                                Submitted Property List
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_2" role="tab">
                                Approved Property List
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_3" role="tab">
                                Assign Deal Admin to Property
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="tab-content ">
                    <div class="tab-pane" id="m_tabs_6_1" role="tabpanel">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <h5>Submitted Property List</h5>
                            </div>
                        </div>
                        <div class="m--space-20"></div>

                        <div class="m--space-40"></div>
                        <div class="justify-content-center row">
                            <div class="m-form__actions">
                                <button type="reset" class="btn btn-danger">Submit</button>
                                <button type="reset" class="btn btn-secondary">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="m_tabs_6_2" role="tabpanel">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <h5>Approved Property List</h5>
                            </div>
                        </div>
                        <div class="m--space-20"></div>
                        <div class="justify-content-center row">
                            <div class="m-form__actions">
                                <button type="reset" class="btn btn-danger">Submit</button>
                                <button type="reset" class="btn btn-secondary">Cancel</button>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane active" id="m_tabs_6_3" role="tabpanel">
                        <div style="padding: 10px; margin-bottom: 60px" class="row gray-bg">
                            <div class="col-md-6">
                                <div style="margin-top: 25px; margin-bottom: 25px;" class="row">
                                    <div class="col-md-6 text-center"><img src="./assets/app/media/img/logos/list-1.jpg"
                                                                           alt="list image" width="199" height="187"
                                                                           class="img-fluid"/></div>
                                    <div class="col-md-6 item-details">
                                        <div class="row">
                                            <div class="col-md-6"><label>Name</label></div>
                                            <div class="col-md-6"><span>Loem Ipsum</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6"><label>City</label></div>
                                            <div class="col-md-6"><span>Loem Ipsum</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6"><label>State</label></div>
                                            <div class="col-md-6"><span>Loem Ipsum</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button class="btn btn-sm btn-danger">Send Message</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div style="margin-top: 25px; margin-bottom: 25px;" class="row">
                                    <div class="col-md-6 text-center"><img src="./assets/app/media/img/logos/list-2.jpg"
                                                                           alt="list image" width="199" height="187"
                                                                           class="img-fluid"/></div>
                                    <div class="col-md-6 item-details">
                                        <div class="row">
                                            <div class="col-md-6"><label>Name</label></div>
                                            <div class="col-md-6"><span>Loem Ipsum</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6"><label>City</label></div>
                                            <div class="col-md-6"><span>Loem Ipsum</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6"><label>State</label></div>
                                            <div class="col-md-6"><span>Loem Ipsum</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button class="btn btn-sm btn-danger">Send Message</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div style="margin-top: 25px; margin-bottom: 25px;" class="row">
                                    <div class="col-md-6 text-center"><img src="./assets/app/media/img/logos/list-3.jpg"
                                                                           alt="list image" width="199" height="187"
                                                                           class="img-fluid"/></div>
                                    <div class="col-md-6 item-details">
                                        <div class="row">
                                            <div class="col-md-6"><label>Name</label></div>
                                            <div class="col-md-6"><span>Loem Ipsum</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6"><label>City</label></div>
                                            <div class="col-md-6"><span>Loem Ipsum</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6"><label>State</label></div>
                                            <div class="col-md-6"><span>Loem Ipsum</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button class="btn btn-sm btn-danger">Send Message</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div style="margin-top: 25px; margin-bottom: 25px;" class="row">
                                    <div class="col-md-6 text-center"><img src="./assets/app/media/img/logos/list-4.jpg"
                                                                           alt="list image" width="199" height="187"
                                                                           class="img-fluid"/></div>
                                    <div class="col-md-6 item-details">
                                        <div class="row">
                                            <div class="col-md-6"><label>Name</label></div>
                                            <div class="col-md-6"><span>Loem Ipsum</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6"><label>City</label></div>
                                            <div class="col-md-6"><span>Loem Ipsum</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6"><label>State</label></div>
                                            <div class="col-md-6"><span>Loem Ipsum</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button class="btn btn-sm btn-danger">Send Message</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m--space-40"></div>

                        <div class="justify-content-center row">
                            <div class="m-form__actions row">
                                <div class="col-md-5">
                                    <button type="reset" class="btn btn-secondary">Approved Properties</button>
                                </div>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-5">
                                    <button type="reset" class="btn btn-secondary">Show More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>